
body {
    width: 100%;
    height: 100%;
    font-family: 'Lato',sans-serif;
    font-weight: 300;
    color: #666;
    background-color: #fff;
    padding: 0;

}

html {
    width: 100%;
    height: 100%;
}

/*--- General sections*/
/*============================ *!*/

.home-section {

    width:100%;
    position:relative;
    /*background: url(../img/dev.jpg) no-repeat top center;*/
    background: rgba(148, 255, 44, 0.15);

    background-size: cover;
    height: auto;

    padding-top: 110px;
    padding-bottom: 110px;
    display:block;
    position:relative;
    z-index:120;
}


.section-heading h2 {
    font-size: 40px;
}
.section-heading i {
    margin-bottom: 20px;
}


/* --- section bg var --- */

.bg-white {
    background: #fff;
}




.bg-dark {
    background: #575757;
}

/* --- section color var --- */

.text-light {
    color: #fff;
}





/* ===========================
--- Contact
============================ */

.map-wrapper {
    position:relative;
    height:500px;


}
.map-canvas {
    position:relative;
    margin-bottom:20%;
    width: 100%;
    height:80%;
    color: #29383F;
    position:relative;
    left:0%;
    top:0;
    right:0;

}

/*============================*/
/*header*/

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #050402 !important;
    background-color: #eef8e9 !important;
}


.navbar li a, .navbar .navbar-brand {

    color: #eef8e9 !important;

}


/*==========================*!*/
/*home*/



.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #f4511e;
}
/*=============*/