
body {
    width: 100%;
    height: 100%;
    font-family: 'Lato',sans-serif;
    font-weight: 300;
    color: #666;
    background-color: #fff;
    padding: 0;

}

html {
    width: 100%;
    height: 100%;
}



.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #050402 !important;
    background-color: #eef8e9 !important;
}


.navbar li a, .navbar .navbar-brand {

    color: #eef8e9 !important;

}

.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #f4511e;
}

footer {
    text-align: center;
    padding: 5% 0 ;

}

footer p {
    color: #f8f8f8;
}

.credits, .credits a {
    color: #fff;
}

footer {
    background-color: #050402;
}
